body {
    overflow: scroll;
    width: auto;
    height: 500px;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: auto;
    height: 100%; 
    padding: 0;
    margin: 5px;
}

.enter-name {
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    pointer-events: none;

    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 20%;
    top: 10%;
}

.column {
    width: 200px;
    height: min-content;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border: solid 2px black;
    margin: 5px 10px;
    padding: 5px;
}

.title {
    width: 90%;
    height: 40px;
    margin: 5px auto;
    background-color: tomato;  
}

span {
    width: 90%;
    height: 30px;
    margin: 5px 5%;
    border: none;
    padding: 0;
    color: white;
}

.create-column {
    width: 200px;
    height: 50px;
    background-color: white;
    margin: 5px 10px;
    border: solid 2px black;
    position: relative;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
